.App {
  text-align: center;
}

.navbar {
  background-color: black;
  height: 200px;
  padding: 20px;
  color: white;
  margin: auto
}
#logo {
  align-content: center;
}

#title {
  font-size: 2em;
  text-align: center;
}

.intro {
  font-size: large;
}


#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}